body {
  font-size: 15px;
  font-family: "Pretendard";
  color: black;
  letter-spacing: -1px;
  transform: rotate(0.04deg);
}

.studdyrecord-title {
  font-size: 30px;
  color: #239aff;
  margin-top: 10vb;
  margin-left: 5%;
}

.sr-hr {
  border: 0.5px solid #239aff;
  width: 120vh;
  margin: auto;
}

.sr-p,
.sr-h3 {
  color: #239aff;
  margin-left: 20%;
}

.mark-x-box {
  width: 120vh;
  height: 500px;
  border: solid 3px;
  border-color: #239aff;
  border-radius: 30px;
  overflow-y: auto;
  display: flex;
  margin: auto;
}

.sr-btn {
  width: 15vh;
  height: 5vh;
  border-radius: 10px;
  border: 2px solid #239aff;
  background-color: #239aff;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 120vh;
  margin: auto;
}
.chart {
  width: 300px;
  height: 300px;
}

.chart-container .chart {
  flex: 1;
  margin-bottom: 10%;
}

.chart-container .chart-score {
  margin-left: 20px;
  color: #239aff;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 10%;
}

.srdate-box {
  width: 120vh;
  height: 100px;
  border: solid 3px;
  border-color: #239aff;
  border-radius: 30px;
  overflow-y: auto;
  display: flex;
  margin: auto;
}

.chart-box {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  width: 60%;
  height: 350px;
  border: 3px solid #239aff;
  border-radius: 10px;
  display: flex;
}
