body {
  font-size: 15px;
  font-family: "Pretendard";
  color: black;
  letter-spacing: -1px;
  transform: rotate(0.04deg);
}

.studdyrecord-title {
  font-size: 30px;
  color: #239aff;
  margin-top: 10vb;
  margin-left: 5%;
}

.sr-hr {
  border: 0.5px solid #239aff;
  width: 120vh;
  margin: auto;
}

.sr-p,
.sr-h3 {
  color: #239aff;
  margin-left: 20%;
}

.mark-x-box {
  width: 120vh;
  height: 500px;
  border: solid 3px;
  border-color: #239aff;
  border-radius: 30px;
  overflow-y: auto;
  display: flex;
  margin: auto;
}
