.gptbutton {
  align-content: center;
  margin-top: 13%;
  align-items: center;
  display: flex;
  align-items: center;
}

.gptimg {
  display: flex;
  margin: auto;
}

.bottombtn {
  display: flex;
  justify-content: center;
  margin: auto;
}

.button1 {
  padding: 20px;
}

.button2 {
  padding: 20px;
}
