@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&family=Poor+Story&display=swap");
/*폰트 import */
.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}
#gomain {
  width: 10%;
}

.welcome {
  display: flex;
  justify-content: center;
  font-family: "Nanum Gothic Coding";
  color: #239aff;
}

.jstable {
  font-family: "Nanum Gothic Coding";
  margin: auto;
  border: 2px solid #239aff;
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 200px;
  padding-right: 200px;
}

#gomain {
  font-family: "Nanum Gothic Coding";
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #239aff;
  border: 1px solid #239aff;
  color: white;
  width: 10%;
  height: 50px;
  align-items: center;
  border-radius: 20px;
  font-size: 15pt;
}
