@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&family=Poor+Story&display=swap");

.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

.joindiv h1 {
  font-family: "Nanum Gothic Coding";
  text-align: center;
  color: #239aff;
}

#joinTable button {
  font-family: "Nanum Gothic Coding";
  margin-left: 10px;
  border-radius: 5px;
  border: 2px solid #239aff;
  background-color: #239aff;
  color: white;
}

#passwordMessage {
  font-family: "Nanum Gothic Coding";
  margin-left: 10px;
}
#joinTable {
  font-family: "Nanum Gothic Coding";
  justify-content: center;
  width: 40%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #239aff;
  border-radius: 10px;
}

#joinTable th {
  font-family: "Nanum Gothic Coding";
  color: white;
  text-align: right;
  background-color: #239aff;
  padding-right: 10px;
  height: 40px;
}
#joinTable input {
  width: 50%;
  height: 25px;
  text-align: center;
  margin-left: 10%;
  border-radius: 5px;
  border: 2px solid #239aff; /* 테두리 색상, 스타일, 두께를 한 줄로 통합 */
}
#joinTable input:focus {
  border-color: #239aff; /* 포커스 상태에서의 테두리 색상 */
  outline: none; /* 대부분의 브라우저에서 추가되는 아웃라인 제거 */
}
hr {
  margin: 0;
}
.container {
  margin: auto;
  margin-top: 100px;
  display: flex;
  font-family: "Nanum Gothic Coding";
  font-size: 15pt;
  border: 2px solid #239aff;
  background-color: #239aff;
  width: 10%;
  height: 50px;
  border-radius: 20px;
  color: white;
  justify-content: center;
  align-items: center;
}
