@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&family=Poor+Story&display=swap");
/*폰트 import */
.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

div #bar {
  font-family: "Nanum Gothic Coding";
  display: flex;
  align-items: center;
  background-color: #239aff;
  color: white;
  padding: 20px;
  font-size: 18px;
  justify-content: center;
}

#div1 {
  width: 300px;
  flex: 1;
}

#div2 {
  flex: 1;
  display: flex;
  justify-content: center;
}

#div3 {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

a.startLogin {
  margin-inline: 50px;
  text-decoration: none;
  color: white;
}
a.startJoin {
  margin-right: 50px;
  text-decoration: none;
  color: white;
}

.navbar ul {
  justify-content: center;
  font-size: 20px;
  font-family: "Nanum Gothic Coding";
  list-style-type: none;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  height: 40px;
}
#logo {
  margin-top: 50px;
  width: 80px;
  height: auto;
  position: absolute;
  left: 10%;
}

.navbar li {
  display: block; /* 각 리스트 아이템을 블록 요소로 만들어 줄바꿈을 방지 */
  margin-right: 10px; /* 오른쪽에 마진을 추가하여 아이템 간 간격을 조정 */
}

.navbar #navA {
  color: #b4b4b4;
  font-family: "Nanum Gothic Coding";
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
}
.navbar #navA:hover {
  color: #239aff;
  font-weight: bold;
}

#back {
  width: 100vw;
  z-index: 1;
}
section {
  display: flex;
  flex-direction: column;
  font-family: "Nanum Gothic Coding";
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  padding-left: 20px;
}
section h1 {
  color: #239aff;
}
.bodytext h1 {
  font-size: 40px;
}
.bodytext p {
  font-size: 20px;
}

#btn {
  font-family: "Nanum Gothic Coding";
  margin-top: 20px;
  display: flex; /* Flexbox를 사용해 수평 정렬 */
  justify-content: center;
  flex-direction: row; /* 수평 방향으로 나열 */
  gap: 10px; /* 요소 사이 간격 */
}
#first {
  font-size: 25px;
  padding: 30px 100px; /* 내부 여백으로 박스 크기 조절 */
  margin: 0; /* 기본 여백 제거 */
  color: white;
  border-radius: 20px;
  border: 2px solid white; /* 테두리 설정 */
  background-color: #8eccff; /* 배경색 지정 */
  display: flex;
}
#second {
  font-size: 25px;
  padding: 30px 100px; /* 내부 여백으로 박스 크기 조절 */
  margin: 0; /* 기본 여백 제거 */
  color: white;
  border-radius: 20px;
  border: 2px solid white; /* 테두리 설정 */
  background-color: #bce0ff; /* 배경색 지정 */
  display: flex;
}
#third {
  font-size: 25px;
  padding: 30px 100px; /* 내부 여백으로 박스 크기 조절 */
  margin: 0; /* 기본 여백 제거 */
  color: white;
  border-radius: 20px;
  border: 2px solid white; /* 테두리 설정 */
  background-color: #8eccff; /* 배경색 지정 */
  display: flex;
}
