.tbimg {
  position: absolute; /* 이미지를 고정 */
  top: 0;
  width: 100vw; /* 전체 화면 너비 */
  height: 100vh; /* 전체 화면 높이 */
  z-index: -1;
}

.t-listtable {
  margin-top: 13%; /* 여백 조절 */
  margin-left: 5%;
  width: 50%;
  border-spacing: 0;
  border-radius: 10px;
  max-width: 700px;
  background-color: #1b3e5b;
  position: relative; /* 배경 이미지에 영향을 받지 않도록 설정 */
}

.t-listtable td {
  height: 15px;
  text-align: center;
  border: 3px solid #1b3e5b;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: white;
  font: bold;
  color: #1b3e5b;
}

.t-listtable th {
  padding: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  text-align: center;
}
