@import url("https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic+Coding&family=Poor+Story&display=swap");

.nanum-gothic-coding-regular {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
}

.studiv h1 {
  font-family: "Nanum Gothic Coding";
  text-align: center;
  color: #239aff;
}

#infoTable {
  font-family: "Nanum Gothic Coding";
  justify-content: center;
  width: 40%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #239aff;
  border-radius: 10px;
}
#infoTable tr {
  align-items: center;
}
#infoId,
#infoName {
  font-family: "Nanum Gothic Coding";
  display: flex;
  margin-left: 10%;
  margin-top: 20px;
  align-items: center;
  color: #239aff;
}

#infoTable th {
  font-family: "Nanum Gothic Coding";
  color: white;
  text-align: right;
  background-color: #239aff;
  padding-right: 10px;
  height: 40px;
  padding-top: 10px;
}
#infoTable input {
  width: 50%;
  height: 25px;
  text-align: center;
  margin-left: 10%;
  border-radius: 5px;
  border: 2px solid #239aff; /* 테두리 색상, 스타일, 두께를 한 줄로 통합 */
  margin-top: 5px;
  margin-bottom: 5px;
}
#infoTable input:focus {
  border-color: #239aff; /* 포커스 상태에서의 테두리 색상 */
  outline: none; /* 대부분의 브라우저에서 추가되는 아웃라인 제거 */
}
hr {
  margin: 0;
}
