.sbimg {
  width: 100vw;
  position: absolute;
  left: 0;
  z-index: -1;
}

.s-listtable {
  margin-left: 7%;
  margin-top: 23vh; /* 화면 2/5 위치에 걸치도록 조정 */
  width: 50%; /* 테이블 너비 조정 */
  max-width: 650px;
  border-spacing: 0;
  border-radius: 10px;
  background-color: #1b3e5b;
}

.s-listtable td {
  height: 14px;
  text-align: center;
  border: 3px solid #1b3e5b;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: white;
  font: bold;
  color: #1b3e5b;
}

.s-listtable tr {
  height: 9px;
  text-align: center;
  border: 3px solid #1b3e5b;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  font: bold;
  color: #1b3e5b;
}

.s-listtable th {
  margin-top: 10%;
  padding: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  color: white;
  text-align: center;
}
